<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}
</head>

<body>

    {{!-- navbar --}}
    {{>adminNavbar}}


    <div class="container">
        <h2 class="text-center">Update Product</h2>
        <div class="card card-text  mt-4 shadow">
            <div class="card-body mb-4 col-12">
                {{#if messages.error}}
                <div class="alert alert-light text-danger">
                    <p>{{ messages.error }}</p>
                </div>
                {{/if}}
                <form action="" method="POST" id="update-product">
                    <input type="hidden" name="_id" value="{{products._id}}">

                    {{!-- {{#each products}} --}}
                    <div class="mb-3 text-center">
                        <img src="/images/{{products.image}}" width="100px" height="100px" alt="{{products.image}}" id="image" name="image" class="text-center">
                        {{!-- <img src="images/pic6.png" width="100px" height="100px" alt="{{products.image}}" id="image" name="image"> --}}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        <input type="text" class="form-control" id="pname" name="name" value="{{products.name}}" placeholder="Enter Product Name">
                        <div class="text-danger">{{products.nameError}}</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Category
                            (Men,Womens,Kids)
                        </label>
                        <input type="text" class="form-control" id="category" name="category"
                            value="{{products.category}}"  placeholder="Enter Product Category">
                        <div class="text-danger">{{products.categoryError}}</div>
                    </div>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Upload Image</label>
                        {{!-- value="/images/{{products.image}}" --}}
                        <input class="form-control" type="file" id="image" name="image" 
                            src="images/{{products.image}}">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Price</label>
                        <input type="text" class="form-control" id="price" name="price" value="{{products.price}}"  placeholder="Enter Product Price">
                        <div class="text-danger">{{products.priceError}}</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Stock</label>
                        <input type="text" class="form-control" id="stock" name="stock" value="{{products.stock}}"  placeholder="Enter Product Stock">
                        <div class="text-danger">{{products.priceError}}</div>
                    </div>
                    <div>
                        <button class="btn btn-primary text-center" type="submit " value="register">UPDATE
                            PRODUCT</button>
                    </div>
                    {{!-- {{/each}} --}}
                </form>
            </div>
        </div>
    </div>

</body>

</html>